[submodule "models/sd-controlnet-scribble"]
	path = models/sd-controlnet-scribble
	url = https://huggingface.co/lllyasviel/sd-controlnet-scribble
[submodule "models/stable-diffusion-inpainting"]
	path = models/stable-diffusion-inpainting
	url = https://huggingface.co/runwayml/stable-diffusion-inpainting
